
.topheader {
    width: 100%;
    height:auto;
    background-color: black;
    background-image: url(images12/win.jpg);
}
.container {
    width: 1170px;
    height: auto;
    margin: 0 auto;
}

.container .header {
    width: 1170px;
    height: 300px;
    background-image: linear-gradient(to bottom, #8897db, #9c99cb)
}
.container .header .textlocation {
    position: absolute;
    top:110px;
    left:25%;
    color:white;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
}
.container .header .textlocation1 {
    position: absolute;
    top:160px;
    left:30%;
    color:white;
    font-family:serif;
}
.container .header .textlocation3 {
    position: absolute;
    top:50px;
    left:23%;
    color:white;
    font-size:30px;
    font-weight:bold;
    font-style:serif;
}

.container .header .circular-div1 {
    position: absolute;
    top:80px;
    right:79%;
    width:100px;
    height:100px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image: url(images12/images.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.container .contentrow {
    width: 1170px;
    height: 500px;
    background-color:rgb(233, 199, 227);
    
    
}

.box{
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 15%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link:hover {
    color:Coral;
}
.box:hover {
    background-color: rgb(174, 221, 186);
    color:white;
}
.box1 {
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 25%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
    
}
.link1 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link1:hover {
    color:#ea6c50;
}
.box1:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box2 {
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 35%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link2 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link2:hover {
    color:#ea6c50;
}
.box2:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box3 {
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 45%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link3 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link3:hover {
    color:#ea6c50;
}
.box3:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box4 {
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 55%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link4 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link4:hover {
    color:#ea6c50;
}
.box4:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box5{
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 65%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link5 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link5:hover {
    color:#ea6c50;
}
.box5:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box6 {
    position: absolute;
    border: 2px solid #333;
    top: 330px;
    left: 75%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link6 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link6:hover {
    color:#ea6c50;
}
.box6:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box7 {
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 15%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link7 {
    text-decoration: none;
    color:White;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link7:hover {
    color:#ea6c50;
}
.box7:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box8 {
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 25%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link8 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link8:hover {
    color:#ea6c50;
}
.box8:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box9 {
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 35%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link9 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link9:hover {
    color:#ea6c50;
}
.box9:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box10{
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 45%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link10 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link10:hover {
    color:#ea6c50;
}
.box10:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box11 {
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 55%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link11 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link11:hover {
    color:#ea6c50;
}
.box11:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box12 {
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 65%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link12 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link12:hover {
    color:#ea6c50;
}
.box12:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box13 {
    position: absolute;
    border: 2px solid #333;
    top: 430px;
    left: 75%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link13 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link13:hover {
    color:#ea6c50;
}
.box13:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box14 {
    position: absolute;
    border: 2px solid #333;
    top: 530px;
    left: 15%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link14 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link14:hover {
    color:#ea6c50;
}
.box14:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box15 {
    position: absolute;
    border: 2px solid #333;
    top: 530px;
    left: 25%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link15 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link15:hover {
    color:#ea6c50;
}
.box15:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box16 {
    position: absolute;
    border: 2px solid #333;
    top: 530px;
    left: 35%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link16 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link16:hover {
    color:#ea6c50;
}
.box16:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box17 {
    position: absolute;
    border: 2px solid #333;
    top: 530px;
    left: 45%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link17 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link17:hover {
    color:#ea6c50;
}
.box17:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box18 {
    position: absolute;
    border: 2px solid #333;
    top: 530px;
    left: 55%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link18 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link18:hover {
    color:#ea6c50;
}
.box18:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.box19 {
    position: absolute;
    border: 2px solid #333;
    top: 530px;
    left: 65%;
    width: 80px;
    height: 45px;
    text-align: center;
    background-color: #433c3c;
    color: white;
    margin: 50px auto;
}
.link19 {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 25px;
    text-align:center;
}
.link19:hover {
    color:#ea6c50;
}
.box19:hover {
    background-color: rgb(136, 237, 163);
    color:white;
}
.container .footer {
    width: 1170px;
    height: 200px;
    background-image: linear-gradient(to bottom, #8897db, #9c99cb)

}
.container .footer .textlocation2 {
    position: absolute;
    top:900px;
    left:75%;
    color:rgb(5, 5, 5);
    font-weight: bold ;
    font-family:serif;   
}
